.klima {
    margin-top: -5px;
    position: relative;
    background-color: var(--klima-bg);
    color: white;

    h2 {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 4rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 60px 0 60px 0;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text {

            h3 {
                font-weight: 600;
                font-size: 1.5rem;
            }

            p {
                font-weight: 300;
                font-size: 1.2rem;
                padding-left: 30px;
                padding-top: 20px;
            }

            .readmore {
                position: absolute;
                bottom: 18%;
                right: 14%;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    > img {
        width: 100%;
        padding-top: 20px;
    }
}